<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}" />
    {% block title %}
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{ msg }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session['user'] %}
                <li><a href="{{ url_for('myRecipes') }}">My Recipes</a></li>
                <li><a href="{{ url_for('newRecipe') }}">Add a New Recipe</a></li>
                <li><a href="{{ url_for('logout') }}">Hello, {{ session['user'] }}! Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
    {% block form %}
    {% endblock %}
    {% block table %}
    {% endblock %}
</body>
</html>